:root {
  /* --text: #070416;
	--background: #e2ddf9;
	--primary: #b6a9ef;
	--secondary: #ede9fb;
	--accent: #a393eb; 

	--text: #eee;
	--text-shade: #ddd;
	--dark-background: #71539d;
	--background: #222;

	--accent: #71539d;
	--shadow: rgba(0, 0, 0, 0.05);
  */
  --text: #333;
  --background: #eee;
  --text-shade: #ddd;
  --primary: #336c37;
  --dark-background: #336c37;
  --secondary: #f29ad8;
  --accent: #00bbef;
  --primary2023: #b6a9ef;
  --secondary2023: #938bb0;
  --shadow: rgba(0, 0, 0, 0.05);
}
