@media (min-width: 84em) {
	html {
		font-size: 62.5%;
	}
}
@media (max-width: 84em) {
	html {
		font-size: 50%;
	}

	.about {
		padding: 10rem 20rem;
	}
}
@media (max-width: 75em) {
	html {
		font-size: 45%;
	}
	.about {
		padding: 10rem 10rem;
	}
}
@media (max-width: 62.5em) {
	html {
		font-size: 40%;
	}
	.top-box,
	.links {
		flex-direction: column;
	}
	.link,
	.next-text-box {
		text-align: center !important;
	}
	.links {
		position: relative !important;
		transform: translate(0) !important;
	}
	.about-card {
		grid-template-columns: 1fr !important;
	}
	.img-box {
		min-height: 60rem !important;
	}
}
@media (max-width: 50em) {
	html {
		font-size: 35%;
	}
	.grid-3-col {
		grid-template-columns: 1fr 1fr !important;
	}

	.cta-grid {
		text-align: center !important;
		grid-template-columns: 1fr !important;
	}
	.cta-image img {
		width: 50% !important;
	}
}
@media (max-width: 40em) {
	html {
		font-size: 30%;
	}
}
